# Node.js dependencies & environment
node_modules/
backend/node_modules/
.env
backend/.env

# Flutter & Dart build artifacts
.dart_tool/
flutter_app/.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
flutter_app/build/
*.apk
*.aab

# IDE & OS configuration files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
